<div>
  <h1>Profile</h1>
  <p>Name: {{user.firstName}}</p>
  <p>Last name: {{user.lastName}}</p>
  <p>Age: {{user.age}}</p>
  {{#if user.isAdmin}}
  <p>Rol: Admin</p>
  {{else}}
  <p>Rol: User</p>
  {{/if}}
</div>