<div>
  <h1>holis</h1>
  <input type="text" id="input">
  <p id="chat-text"></p>
</div>
{{!-- accede al script de la libreria. desde el front se lo puede llamar desde un cdn --}}
<script src="socket.io/socket.io.js"></script>
{{!-- en el script se arma la logica del servidor socket del lado del cliente --}}
<script src="/script.js"></script>