<div>
  {{!-- info dinamica del username --}}
  <h1>Hola, {{user.name}}! Qué gusto verte!</h1>
  {{!-- abre el condicional --}}
  {{#if user.isAdmin}} 
    {{!-- el each funciona como un .map() --}}
    {{#each prods}}
      <div>
        <p>Producto: {{this.prod}}</p>
        <p>Precio: {{this.precio}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>No tienes permisos suficientes para acceder a este recurso</p>
    {{!-- cierra el condicional --}}
  {{/if}} 
</div>
<script src="script.js"></script>