<div>
  <h1>Register</h1>
  <form action="submit">
    <input type="text" name="firstName" id="firstName" placeholder="Nombre">
    <input type="text" name="lastName" id="lastName" placeholder="Apellido">
    <input type="number" name="age" id="age" placeholder="Edad">
    <input type="email" name="email" id="email" placeholder="email">
    <input type="text" name="password" id="password" placeholder="Contraseña">
    <button type="submit" id="formButton">Registrarse</button>
  </form>
</div>