<div>
  <h1>Log in</h1>
  <form action="submit" id="loginForm">
    <input type="text" name="email" id="email" placeholder="Email" />
    <input type="text" name="firstName" id="firstName" placeholder="Nombre">
    <input type="text" name="password" id="password" placeholder="Password" />
    <button type="submit" id="formButton">Ingresar</button>
  </form>
</div>
<script src="../../script.js"></script>